.header {
    box-shadow: var(--shadow);
    padding: 20px 0;
    margin-bottom: 20px;
}

.header>div {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.logo {
    display: flex;
    align-items: center;
    color: var(--primary);
    font-family: var(--family-headers);
    gap: 5px;
    font-size: 0.75rem;
    font-weight: 600;
}

.dark_mode_btn {
    /* order: 9; */
    border: none;

    position: relative;
    display: flex;
    justify-content: space-between;

    width: 51px;
    height: 26px;
    padding: 5px;

    border-radius: 50px;
    background-color: var(--secondary);
}

.dark_mode_btn::before {
    content: '';

    position: absolute;
    top: 1px;
    left: 1px;

    display: block;
    width: 24px;
    height: 24px;

    border-radius: 50%;
    background-color: #fff;

    transition: left 0.2s ease-in;
}

.dark_mode_btn_active::before {
    left: 26px;
}

.dark_mode_icon {
    position: relative;
    z-index: 9;
}

.menu_icon {
    display: none;
    cursor: pointer;
    transition: all 0.3s ease;
}

.sticky {
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 10;
    background-color: var(--colors-bg);
    padding: 10px 0;

}


@media (max-width: 620px) {
    .dark_mode_btn {
        order: 0;
    }
}

@media (max-width: 768px) {

    .menu_icon {
        display: block;
        fill: var(--colors-text);
        /* margin-right: 10px; */
    }

}